@import url(reset.css);
@import url(font-face.css);
@import url(fontawesome.css);
@import url(solid.css);
@import url(brands.css);

body {
    font-family: 'Karla';
}

* , *:after , *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}

h3 {
    font-family: 'Roboto Slab';
    font-size: 16px;
    letter-spacing: 2px;
}

.container-full {
    max-width: 100%;
}

.container {
    max-width: 100%;
    padding: 0 76px;
}

.buttom {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.buttom:hover {
    background: #fff;
    color: #000;
}

.header-box {
    text-align: center;
    padding: 90px 0 60px;
}

.header-box .title {
    font-family: 'Roboto Slab';
    font-size: 24px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 30px 0 20px;
}

.header-box .subtitle a {
    font-size: 12px;
    font-weight: 300;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header-box .subtitle a:hover {
    color: #000;
}

.header-box img {
    width: 60px;
}

#header-section {
    background: #fff;
}

#header-section a {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#header-section a:hover {
    color: #000;
}

#header-section .top-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
    font-size: 14px;
    font-weight: 700;
}

#header-section .top-header .switchers ul {
    display: flex;
}

#header-section .top-header .top-menu ul {
    display: flex;
    align-items: center;
}

#header-section .top-header .switchers ul li {
    padding: 20px 36px;
    border-right: 1px solid #f6f6f6;
}

#header-section .top-header .top-menu ul li {
    padding: 16px 20px;
    border-left: 1px solid #f6f6f6;
}

#header-section .top-header .top-menu ul li.card a {
    display: flex;
    align-items: center;
}

#header-section .top-header .top-menu .card-count {
    color: #000;
    border: 2px solid #000;
    padding: 2px 9px;
    margin-left: 20px;
}

#header-section .bottom-header {
    box-shadow: 0 2px 6px #0000000d;
    position: relative;
    z-index: 120;
}

#header-section .bottom-header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    font-size: 16px;
    font-weight: 700;
}

#header-section .bottom-header .logo img {
    width: 170px;
    height: auto;
}

#header-section .bottom-header .main-menu ul {
    display: flex;
    justify-content: center;
}

#header-section .bottom-header .main-menu ul li {
    padding: 32px;
}

#header-section .bottom-header .main-menu ul li a {
    letter-spacing: 1px;
}

#header-section .bottom-header .search i {
    font-size: 16px;
    padding-left: 30px;
}

#header-section .bottom-header .responsive-main-menu {
    display: none;
    font-size: 20px;
    align-items: center;
    position: relative;
}

#header-section .bottom-header .responsive-main-menu .shop {
    position: relative;
    margin-right: 24px;
}

#header-section .bottom-header .responsive-main-menu .shop span{
    font-size: 12px;
    font-weight: 300;
    color: #000;
    position: absolute;
    top: -12;
    right: 0;
}

#hero-section {
    position: relative;
}

#hero-section:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    background: #f6f6f6;
    top: 0;
    left: 0;
}

#hero-section .product-section {
    padding: 90px 20px;
    position: relative;
}

#hero-section .product-section a {
    color: #000;
}

#hero-section .product-section a:hover {
    color: #333;
}

#hero-section .product-section ul.product {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 16px;
}

#hero-section .product-section ul.product span {
    font-size: 16px;
    color: #999;
    font-weight: 700;
}

#hero-section .product-section ul.stars {
    display: flex;
    justify-content: center;
    font-size: 11px;
}

#hero-section .product-section ul.stars li {
    padding: 16px 2px;
    color: #c6c6c6
}

#hero-section .arrow ul{
    display: flex;
    justify-content: space-between;
}

#hero-section .arrow ul li {
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 6px #0000000d;
}

#hero-section .arrow ul li.next {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    margin-right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#hero-section .arrow ul li.perv {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-left: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#hero-section .arrow ul li i {
    color: #999;
    font-size: 16px;
    font-weight: 300;
    display: block;
    text-align: center;
    padding: 17px 15px;
}

#collection-section .collection {
    position: relative;
}

#collection-section .collection .arrow ul{
    display: flex;
    justify-content: space-between;
}

#collection-section .collection .arrow ul li.next {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    margin-right: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#collection-section .collection .arrow ul li.perv {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-left: 20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#collection-section .collection .arrow ul li i {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 17px 15px;
}

#collection-section .collection .arrow {
    display: none;
}

#collection-section .collection:hover .arrow {
    display: block;
}

#collection-section .collection ul.banner {
    display: flex
}

#collection-section .collection ul.banner li.category {
    position: relative;
    display: block;
} 

#collection-section .collection ul.banner li.category:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.4);
}

#collection-section .collection ul.banner li.category img {
    width: 100%;
}

#collection-section .collection ul.banner .info {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
}

#collection-section .collection ul.banner .info h2 {
    font-family: 'Roboto Slab';
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#collection-section .collection ul.banner .info ul {
    padding-bottom: 30px;
    display: none;
    transition: all 5s
}

#collection-section .collection ul.banner li.category:hover ul {
    display: block;
}

#collection-section .collection ul.banner .info a {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 36px;
    font-weight: 300;
    color: #cdcdcd;
}

#collection-section .collection ul.banner .info a:hover {
    color: #fff
}

#featured-products .product-list ul.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#featured-products .product-list ul.list li.product {
    display: flex;
    gap:30px;
    padding-bottom: 30px;
    width: 334px;
}

#featured-products .product-list img {
    width: 160px;
    height: 160px;
}

#featured-products .product-list h3 {
    margin-top: 0;
    letter-spacing: 1px;
}

#featured-products .product-list a {
    color: #000;
}

#featured-products .product-list :hover {
    color: #666;
}

#featured-products .product-list span {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

#featured-products .product-list ul.stars {
    display: flex;
    font-size: 11px;
    margin-top: 12px;
}

#featured-products .product-list ul.stars li {
    padding: 0 2px;
    color: #c6c6c6
}

#new-arrivals .arrivals-list ul{
    display: flex;
    flex-wrap: wrap;   
}

#new-arrivals .arrivals-list ul li {
    position: relative;
}

#new-arrivals .arrivals-list ul li .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    display: none;
    transition: all 1s;
}

#new-arrivals .arrivals-list ul li .info {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    transition: all 2s;
    display: none;
}

#new-arrivals .arrivals-list ul li:hover .cover , #new-arrivals .arrivals-list ul li:hover .info {
    display: block;
}

#new-arrivals .arrivals-list ul li {
    width: 25%;
    display: block;
}

#new-arrivals .arrivals-list ul li img {
    width:100%
}

#new-arrivals .arrivals-list ul li h3 {
    font-size: 16px;
}

#about-us .content-list ul.top li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#about-us .content-list ul.top li .left {
    width: 742px;
    height: 318px;
    background-image: url(../images/about_us_newsletter_about_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#about-us .content-list ul.top li .left h2 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 60px 0 0 50px;
    text-transform: uppercase;
    font-family:'Roboto Slab';
    letter-spacing: 3px;
    color: #fff;
    font-size: 20px;
}

#about-us .content-list ul.top li .right {
    width: 356px;
    height: 318px;
    box-sizing: border-box;
    padding: 50px 30px;
    border: 2px solid #dddddd;
    text-align: center;
}

#about-us .content-list ul.top li .right h3 {
    font-family:'Roboto Slab';
    letter-spacing: 3px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#about-us .content-list ul.top li .right p {
    color: #666;
    line-height: 30px;
    margin-bottom: 30px;
}

#about-us .content-list ul.top li .right input {
    width: 100%;
    height: 44px;
    padding: 5px 40px 10px 10px;
    font-size: 14px;
    border: 2px solid #dddddd;
    position: relative;
}

#about-us .content-list ul.bottom {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#about-us .content-list ul.bottom img {
    width: 100%;
}

#brands ul {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#top-footer ul {
    width: 100%;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px 0;
}

#top-footer ul li {
    display: inline-block;
    padding: 32px 30px;
    background: #fff;
    box-shadow: 0 2px 6px #0000000d;
    text-align: center;
    overflow: hidden;
    width: 560px;
}

#top-footer ul li a {
    color: #000;
}

#top-footer ul li h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Roboto Slab';
}

#top-footer ul li p {
    display: none;
}

#footer .footer-list {
    display: flex;
    justify-content: space-between;
}

#footer .footer-list h2 {
    font-family:'Roboto Slab';
    letter-spacing: 3px;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin: 50px 0 40px;
}

#footer .footer-list .information {
    margin-left: 50px;
}

#footer .footer-list .story {
    background: url(../images/footer_story_content.jpeg);
    width: 33.33%;
    height: 380px;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#footer .footer-list .story h2{
    color: #fff;
    margin-top: 0;
}

#footer .footer-list .story p {
    color: #fff;
    font-size: 14px; 
    font-weight: 300;
    line-height: 30px;
    display: none;
}

#footer .footer-list .story:hover  p {
    display: block;
}

#footer .footer-list input {
    width: 100%;
    height: 44px;
    padding: 5px 40px 10px 10px;
    font-size: 14px;
    border: 0;
    border-bottom: 2px solid #dddddd;
}

#footer .footer-list a {
    color: #666;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
}

#footer .footer-list a:hover {
    color: #000;
}

#footer .footer-list .social {
    display: flex;
    gap: 40px;
    margin: 50px 0 30px;
    color: #0000000d;
}

#footer .footer-list .newslatter p {
    text-align: center;
    color: #666;
    font-size: 16px;
    font-weight: 300;
}

@media screen and (max-width:1200px) {

    #header-section .top-header {
        display: none;
    }

    #header-section .bottom-header .main-menu {
        display: none;
    }

    #header-section .bottom-header .search i {
        display: none;
    }

    #header-section .bottom-header .responsive-main-menu {
        display: flex;
    }

    #header-section .bottom-header .info {
        height: 80px;
    }
}

@media screen and (max-width:960px) {
    #hero-section .product-section ul.product {
        justify-content: center;
    }

    #hero-section .product-section ul.product li.third {
        display: none;
    }

    #collection-section .collection ul.banner li.category.third {
        display:none
    }

    #new-arrivals .arrivals-list ul li {
        width: 33.33%;
    }
}

@media screen and (max-width:540px) {
    #hero-section .product-section ul.product {
        justify-content: center;
    }
    
    #hero-section .product-section ul.product li.secound {
        display: none;
    }

    #collection-section .collection ul.banner li.category.secound {
        display:none
    }

    #new-arrivals .arrivals-list ul li {
        width: 50%;
    }
}
