@import url(fontface.css);
@import url(fontawesome.css);
@import url(solid.css);
@import url(brands.css);

html {

}

body {
    margin: 0;
    padding: 0;
    direction: ltr;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
}
