@import "reset.css";
@import "fontawesome.css";
@import "Vazirmatn-font-face.css";
@import "solid.css";
@import "regular.css";
body {
    font-family:Vazirmatn;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    color:#808080;
}
.menu {
    background: #fff;
    display: fixd;
}
.top-menu ul li a:hover{
    color: #000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-full {
    width: 100%;
    padding: ;
}
.container-content {
    max-width: 800px;
    margin: 0 auto;
}
.clearfix:after,clearfix:before {
    content: "";
    display: table;
    clear: both;
}
.top-menu .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px;
}
.top-menu .right {
    display: flex;
    grid-gap: 50px;
    flex-direction: row-reverse;
    align-items: center;

}
.top-menu .right ul {
    display: flex;
    grid-gap: 50px;
    flex-direction: row-reverse;

}
.top-menu .right ul li {

}
.top-menu .right ul li a:hover {
    color: #000;

}
.top-menu .right .square {
    position: relative;
    width: 40px;
    height: 30px;
}
.top-menu .right .square::after{
    position:absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    /* background: rgba(238, 239, 244, 0.973); */
    content:"";
}
.top-menu .right .square:before{
    position:absolute;
    width:9px;
    height:13px;
    left: 60%;
    top: 60%;
    transform:translate(-60% ,-60%);
    /* background: rgb(181 181 197 / 97%); */
    content: "";
    z-index: 1;
    border-radius: 50%;
    border-style:solid;
    content:"";
}
.top-menu .content .left ul {
    display: flex;
    grid-gap: 50px;
    flex-direction: row-reverse;
}
.header .parent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 20px;
}
.header .parent .main-menu ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-gap: 50px;
}
.header .parent .logo a {
    font-weight:bold;
    font-size: x-large;
    color: black;
    letter-spacing: 6px;
}
.header .parent .main-menu ul li:last-child {
    color: black;
    font-size: large;
    font-weight:500;
}.header .parent ul li a:hover {
    color: #000;
}
.chair .baner {
    width: auto;
    height: 310px;
    background:#f5f1f1;
    position: relative;

}
.chair123 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: absolute;
    top: 192px;
    left: 0;
    right: 0;
    bottom: 0;
}
.chair .holder {
    text-align: center;
    font-size: smaller;
}